.head{
    text-align: center;
}
.countdown-container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: larger;
    
}

.countdown{
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    text-align: center;
    border: 4px solid #fff;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 2em;
    padding: 2em;
    text-align: center;
    background-color: #ff42a7;
}
.countdown section:first-child {
    text-align: center;
}
.content{
    vertical-align: middle;
    font-size: 3rem;
    text-align: center;
    color: white;
}
small{
    color: white;
}
.span{
    color: white;
    padding-bottom: 20px;
}
.border{
    border: 2px solid white ;
    width: 100%;
}

@media screen and (max-width: 768px)
{

  .page-title-container{
    display: none;
     
  }
  .heading-text{
    margin: auto;
  }

}

@media (min-width:320px) and (max-width: 480px)
{

  .page-title-container{
    display: none;
  }
  .heading-text{
    margin: auto;
  }
}