.image-head{
    height: 250px;
    width: 100%;
}
img{
    height:100%;
    width:50%;
    margin: auto;
}

@media screen and (max-width: 768px)
{
    .image-head{
        height: 100%;
        width: 100%;
    }
    img{
        height:100%;
        width:100%;
    }

    .heading-text2{
        text-align: center;
    }

}

@media (min-width:320px) and (max-width: 480px)
{
    .image-head{
        height: 100%;
        width: 100%;
    }
    img{
        height:100%;
        width:100%;
    }
    .heading-text2{
        text-align: center;
    }

}