::-webkit-scrollbar {display:none};




@media screen and (max-width: 768px)
{

  .page-title-container{
    display: none;
     
  }
  .heading-text{
    margin: auto;
  }

}

@media (min-width:320px) and (max-width: 480px)
{

  .page-title-container{
    display: none;
  }
  .heading-text{
    margin: auto;
  }
}