body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Montserrat", sans-serif;
  }
  .header-text{
    font-size: 20px;
    font-weight: 600;
  }
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
  }
  
  .text-primary {
    color: #666666;
  }
  
  .text-blue {
    color: #246dec;
  }
  
  .text-red {
    color: #cc3c43;
  }
  
  .text-green {
    color: #367952;
  }
  
  .text-orange {
    color: #f5b74f;
  }
  
  .font-weight-bold {
    font-weight: 600;
  }
  
  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
  }
  
  
  /* ---------- HEADER ---------- */
  
  .header {
    grid-area: header;
    height: 120px;
    background-color: #000;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .menu-icon {
    display: none;
  }
  
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: black;
    color: white;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 12px 20px 20px 20px;
  }
  
  .sidebar-list-item:hover {
    color:#FF385C;
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: white;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  .logout{
    width: 70%;
    margin: auto;
    border-radius: 20px;
    margin-top: 5rem;
    text-align: center;
    background-image: linear-gradient(to right top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
  }
  
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    height: 100%;
    overflow-y: auto;
    padding: 20px 20px;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-title > p {
    font-size: 20px;
  }
  


  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .card:first-child {
    border-left: 7px solid #246dec;
  }
  
  .card:nth-child(2) {
    border-left: 7px solid #f5b74f;
  }
  
  .card:nth-child(3) {
    border-left: 7px solid #367952;
  }
  
  .card:nth-child(4) {
    border-left: 7px solid #cc3c43;
  }
  
  .card > span {
    font-size: 20px;
    font-weight: 600;
  }
  .card-body{
    text-align: center;
  }
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  .card-inner > p {
    font-size: 18px;
  }
  
  .card-inner > span {
    font-size: 35px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .charts-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
  }
  
  
  /* ---------- SCROLLBARS ---------- */
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #FF1493;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a5aaad;
  }
  
/* -------Personal Details------ */



.profile-photo-info{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, #f02eaa4d 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.avatar-upload {
    position: relative;
    max-width: 205px;
  }
  .avatar-upload .avatar-edit {
    position: relative ;
    z-index: 1;
    top: 35px;
    right: 50px;

  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ff42a7;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-preview{
    background: url('http://i.pravatar.cc/500?img=7');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .imagePreview{
    height: 100px;
    width: fit-content;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #ff42a7;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "I";
    font-family: 'FontAwesome';
    color: white;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .form-group label {
    font-size: 1.5rem;
    font-weight: 400;
    color: #3F4254;
}
.edit{
    border: #3F4254;
    background-color: #ff42a7;
    color: white;
    border-radius: 100%;
    
  }
  .icon{
    margin-top: 7px;
  }


  .profile-editor{
    width: 90%;
    height: 100%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}
.container2{
    margin: auto;
}
.important{
    color: #ff42a7;
}

  .container2 {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
  }
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
  }
  h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
  }
  

  
@media screen and (max-width: 768px)
{

  .page-title-container{
    display: none;
     
  }
  .heading-text{
    margin: auto;
    margin-top: -0.6rem
  }

  .profile-photo-info{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

}

@media (min-width:320px) and (max-width: 480px)
{

  .page-title-container{
    display: none;
  }
  .heading-text{
    margin: auto;
    margin-top: -0.6rem
  }
  .profile-photo-info{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
}

/* -------Personal Details Ended------ */

  
  /* ---------- MEDIA QUERIES ---------- */
  
  
  /* Medium <= 992px */
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "header"
        "main";
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }

  }
  
  
  
  
  /* Small <= 768px */
  @media screen and (max-width: 768px) {
 

  }
  
  /* Extra Small <= 576px */
  @media screen and (max-width: 576px) {
    .header-left {
      display: none;
    }

  }


  